table {
    width: 50%;
    height: auto;
    border-collapse: collapse;
}

button {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover {
    background-color: rgb(112, 155, 247);
}

th {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(112, 155, 247);
}

td {
    font-size: 20px;
    padding-left: 5px;
}