<h1>{{ title }}</h1>

<table border="1px" style="border-color: rgb(112, 155, 247);">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
        </tr>
    </thead>
    <tr *ngFor="let item of data">
        <td>
            {{ item.name }}
        </td>
        <td>
            {{ item.city }}
        </td>

    </tr>
</table>

<div class="btn-group">
    <button (click)="sortBy('name')">Sort By Name</button>
    <button (click)="sortBy('city')">Sort by City</button>
    <button (click)="defaultTable()">Default</button>


</div>